section {
	
	height: 100vh;
	max-width: 1440px;

	// margin: 0 auto;

	.hero {

		// background-color: rgba(0, 0, 0, 0.5);
		// @include breakpoint-up(xlarge) {
		// 	background-color: purple;
		// }
		// @include breakpoint-up(large) {
		// 	background-color: red;
		// }
		// @include breakpoint-down(medium) {
		// 	background-color: white;
		// }
	// 	@include breakpoint-down(small) {
		// 	background-color: blue;
		// }

		// background-image: url(/images/wave.svg);
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center center;		
		// border: 1px red solid;
		margin: 0 auto;
		min-height: minmax(720px 70vh);
		position: relative;
		overflow: hidden;
		// max-height: 500px;
		// padding-top:1rem;
		// padding-bottom:1rem;

		@include media("<=phone") {
			border: 5px blue solid;
		}
		@include media("<=tablet") {
			border: 5px white solid;
			min-height: 650px;
		}
		@include media(">tablet") {
			border: 5px red solid;
			min-height: 400px;
		}

		img#wave {
			position: absolute;
			display: block;
			bottom: 0;
			left: -100%;
			width: 200%;
			height: auto;
		}

		.txt-wrapper {
			display: block;
			position: relative;
			border: 1px dotted red;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			font-size: 0;

			img#logo {
				display: block;
				width: 600px;
				margin: 1em auto;
			}

			p#vote-txt {
				display: block;
				color: white;
				text-align: center;
				// margin: 0;
				font: {
					family: cabrito-normal, sans-serif; // family: soleil, sans-serif;
					weight: 400;
					style: normal;
					size: $font-med;
				}

				@include media(">phone", "<=tablet") {
					color: black;
				}
			}
		}
	}
}