section {
	
	height: 100vh;
	max-width: 1440px;
	.hero {

		// background-image: url(/images/wave.svg);
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center center;		
		// border: 1px red solid;
		// min-height: minmax(720px 70vh);
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		visibility: hidden;
		border: 1px black solid;

		@include media(">=desktop") {
			// border: 5px red solid;
			min-height: 400px;
		}
		@include media("<=tablet") {
			// border: 5px white solid;
			min-height: 650px;
		}
		@include media("<=phone") {
			// border: 5px blue solid;
			min-height: 100vh;
		}

		img.wave {
			position: absolute;
			display: none;
			bottom: 0;
			left: 0;
		}
		img#wave_dt {
			@include media(">=desktop") {
				display: block;
				width: 325%;
			}
			@include media("<=tablet") {display: none;}
			@include media("<=phone") {display: none;}
		}
		img#wave_tab {
			@include media("<=tablet") {
				display: block;
				width: 325%;
			}
			@include media(">=desktop") {display: none;}
			@include media("<=phone") {display: none;}
		}
		img#wave_m {
			@include media("<=phone") {
				display: block;
				width: 260%;
				// bottom: -20%;
			}
			@include media(">=desktop") {display: none;}
			@include media("<=tablet") {display: none;}
		}

		.wrapper {
			width: 100%;
			font-size: 0;
			margin: 0 auto;
		}
		.ornament {
			position: absolute;
		}
		#bubble-wrapper {
			// position: absolute;
			// border: 1px dashed teal;
			position: absolute;
			width: 26%;//275px;

			@include media(">=desktop") {
				width: 19%;//275px;
				left: 46%;
				// top: 24%;
				bottom: 8%;
			}
			@include media("<=tablet") {
				width: 26%;//275px;
				margin: 0 auto;
				bottom: 2%;
				left: 50%;
				transform:translateX(-50%);
			}
			@include media("<=phone") {
				width: clamp(150px, 26vh, 380px);
				bottom: clamp(2%, 14vh, 14%);
				// width: 48%;// 380px;
				// bottom: 14%;
			}
			.kids {
				clip-path: circle();
				position: absolute;
				display: none;
				width: 60%;//200px;
			}
			img#kid1 {
				@include media(">=desktop") {
					width: 25%;
					left: -97%;
					top: 78%;
				}
				@include media("<=tablet") {
					width: 38%;
					left: 194%;
					top: 16%;
				}
				@include media("<=phone") {
					width: 31%;
					left: 113%;
					top: 0%;//13%;
				}
			}
			img#kid2 {
				clip-path:circle(43% at 50% 44%);

				@include media(">=desktop") {
					width: 50%;
					left: -60%;
					top: 55%;
				}
				@include media("<=tablet") {
					clip-path:circle(43% at 50% 53%);
					width: 49%;
					left: -64%;
					top: 38%;//44%;
				}
				@include media("<=phone") {
					width: 33%;
					left: -40%;
					top: 71%;
				}
			}
			img#kid3 {
				@include media(">=desktop") {
					width: 24%;
					left: 140%;
					top: 56%;
				}
				@include media("<=tablet") {
					width: 36%;
					left: -130%;
					top: 42%;
				}
			}
			img#kid4 {
				@include media(">=desktop") {
					width: 50%;
					left: 210%;
					top: 53%;
				}
				@include media("<=tablet") {
					width: 59%;
					left: 117%;
					top: 4%;
				}
				@include media("<=phone") {
					width: 50%;
					left: 78%;
					top: 95%;
				}
			}
			img#book {
				width: 100%;
				// position: absolute;
			}
			#enter {
				position: absolute;
				width: 116%;
				top: -13%;
				left: -25%;
				// left: 45%;
				// transform:translateX(-50%);

				// @include media(">=desktop") {
				// 	width: 116%;
				// 	top: -13%;
				// 	left: -25%;
				// }
				// @include media("<=tablet") {
				// 	width: 116%;
				// 	top: -13%;
				// 	left: -25%;
				// 	// width: 75%;
				// 	// top: -8%;
				// }
				// @include media("<=phone") {
				// 	width: 116%;
				// 	top: -13%;
				// 	left: -25%;
				// }
			}
			// #arrow-enter {
				// width: 25%;
				// left: -41%;
				// top: 5%;
				// transform: rotate(5deg);
				// @include media(">=desktop") { }
				// @include media("<=tablet") {
				// 	left: -28%;
				// }
				// @include media("<=phone") { }
			// }
			// #burst-enter {
				// @include media(">=desktop") {
				// 	width: 41px;
				// 	left: 82%;
				// 	top: -25px;
				// 	transform: rotate(-71deg);
				// }
				// @include media("<=tablet") {
				// 	width: 37px;
				// 	left: 84%;
				// 	top: -2%;
				// 	transform: rotate(-64deg);
				// }
				// @include media("<=phone") {
				// 	width: 37px;
				// 	left: 85%;
				// 	top: -9%;
				// 	transform: rotate(-64deg);
				// }
			// }
		}

		#logo-container {
			position: relative;
			height: 100%;

			#logo-wrapper {
				// border: 1px dashed teal;

				@include media(">=desktop") {
					width: 30%;//383px;
					margin: 0;
				}
				@include media("<=tablet") {
					width: 40%;//400px;
					margin: 1.5rem auto 1rem;
				}
				@include media("<=phone") {
					width: 75%;
					margin: clamp(10%, 7vh, 30%) auto;
					// margin-top: clamp(10%, 7vh, 30%);
					// margin-bottom: clamp(10%, 7vh, 30%);
				}

				img#logo {
					width: 100%;
				}
				img#burst-logo{
					width: 8%;
					left: -8%;
					top: 35%;
				}
				img#stars {
					@include media(">=desktop") {
						width: 7%;
						// transform:rotate(65deg);
						left: 205%;
						top: 56%;
					}
					@include media("<=tablet") {
						width: 9%;
						left: 150%;
						bottom: -72%;
					}
					@include media("<=phone") {
						width: 10%;
						left: 100%;
						top: 100%;
					}
				}
				img#heart {
					@include media(">=desktop") {
						width: 12%;
						transform:rotate(65deg);
						left: 100%;
						top: 11%;
					}
					@include media("<=tablet") {
						width: 12%;
						left: -58%;
						top: 11%;
					}
					@include media("<=phone") {
						width: 10%;
						left: -10%;
						top: 100%;
					}
				}
				img#hearts {
					@include media(">=desktop") {
						width: 12%;
						left: 330%;
						top: 69%;
					}
					@include media("<=tablet") {
						width: 12%;
						left: 129%;
						top: 13%;
					}
					@include media("<=phone") {
						width: 8%;
						left: 100%;
						top: -11%;
					}
				}
			}

			p#txt {
				color: white;
				// content: 'Capture your little one’s silliest, smiliest side for their chance to be Gerber’s next Chief&nbsp;Growing&nbsp;Officer!';
				text-align: center;
				max-width: 80%;
				margin: 0 auto;
				// border: 2px dotted pink;
				font: {
					family: cabrito-normal, sans-serif; // family: soleil, sans-serif;
					weight: 400;
					style: normal;
				}

				span {
					display: inline;
				}

				@include media(">=desktop") {
					font-size: clamp(10px, 2vw, $font-dt);
					position: absolute;
					max-width: 30%;//25rem;
					right: 3%;//80px;
					top: 50px;
				}
				@include media("<=tablet") {
				  font-size: clamp(24px, 3vw, $font-tab);
				}
				@include media("<=phone") {
					// content: 'Capture your little one’s&nbsp;silliest, smiliest side for their&nbsp;chance to&nbsp;be Gerber’s&nbsp;next Chief&nbsp;Growing&nbsp;Officer!';
				  font-size: clamp(13px, 4vw, $font-m);
				  // padding: 0 10%;
				  // max-width: 70%;
					// font-size: $font-m;
				}
			}
			/* p#txt::before {
				@include media("<=phone") {
					content: 'Capture your little one’s&nbsp;silliest, smiliest side for their&nbsp;chance to be Gerber’s&nbsp;next\AChief&nbsp;Growing&nbsp;Officer!';
					white-space: pre-wrap;
				}
			} */
		}
	}
}