// Colors
$darkBlue: #093349;
$lightBlue: #b7deef;

// Font Sizes
$font-sm: 0.875rem; // 14px
// $font-med: 1.125rem; // 18px
$font-med: 1.75rem; // 28px
$font-lg: 1.25rem; // 32.5px
$font-xlg: 3.25rem; //52px
